/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterUseImplTriplesEbab.ser
/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterUseImplDate.ser
/e3_journals.json
/lastMaintained.ser
/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterMaintainImplDate.ser
/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterMaintainImplTriples.ser
/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterUseImplTriples.ser
/de.mpg.mis.neuesbibliothekssystem.stacks.StackSorterMaintainImplTriplesEbab.ser
/e2_journals.json
/e3_books.json
